<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="Car" value="2.00" />
      <add key="Public Service Vehicle" value="2.00" />
      <add key="Bus" value="2.80" />
      <add key="Goods" value="4.10" />
    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
